$color-1: #E2E6E7;
$color-2: #2C3E50;
$color-3: #A1B1BC;
$color-4: #FFC12D;
$color-5: #F9B718;
$color-6: #CFD2D3;
$color-7: #A47503;

$font-awesome: 'FontAwesome';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    margin-top: 50px;
    margin-left: 50px;
}

.notification {
    border: $color-1 solid 1px;
    border-radius: 10px;
    font-family: 'Lato', sans-serif;
    width: 570px;
    position: relative;
    padding-top: 34px;
    padding-bottom: 34px;
    
    .icon {
        background-color: $color-4;
        height: 64px;
        width: 64px;
        border: $color-5 solid 7px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        float: left;
        margin-left: 48px;
        margin-top: 8px;
        margin-right: 28.9px;

        &:before {
            font-family: $font-awesome;
            content: "\f12a";
            font-size: 24px;
            line-height: 26px;
            color: $color-7;
            padding: auto;
        }
    }

    div {

        h1 {
            color: $color-2;
            font-size: 14px;
            line-height: 26px;
            text-transform: uppercase;
            font-weight: 900;
            letter-spacing: 1.4px;
            margin-bottom: 6px;
        }

        p {
            color: $color-3;
            font-size: 14px;
            line-height: 24px;
            padding-right: 60px;
        }
    }

    a {
        font-family: $font-awesome;
        color: $color-6;
        position: absolute;
        top: 12px;
        right: 19px;
        text-decoration: none;
        
        &:before {
            content: "\f00d";
            font-size: 14px;
            line-height: 24px;
        }
    }
}