$color-1: #E2E6E7;
$color-2: #2C3E50;
$color-3: #A1B1BC;
$color-4: #FFC12D;
$color-5: #F9B718;
$color-6: #CFD2D3;
$color-7: #A47503;
$color-8: #97E411;
$color-9: #7BC200;
$color-10: #558502;
$color-11: #FD7761;
$color-12: #F55C43;
$color-13: #D52E13;
$color-14: #6FD9FC;
$color-15: #47B4F6;
$color-16: #0787D4;
$color-17: #A39CDC;
$color-18: #8781BD;
$color-19: #5B568E;

$font-awesome: 'FontAwesome';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    margin: 50px 50px auto;
}

.notification {
    border-radius: 10px;
    font-family: 'Lato', sans-serif;
    width: 570px;
    position: relative;
    padding-top: 34px;
    padding-bottom: 34px;
    margin-right: 30px;
    margin-bottom: 32px;
    float: left;

    &.warning {
        background-color: $color-4;
        
        .icon {
            border: 1px solid;
            height: 64px;
            width: 64px;
            border: solid 7px;
            border-color: $color-5;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            float: left;
            margin-left: 48px;
            margin-top: 8px;
            margin-right: 28.9px;
            
            &:before {
                font-family: $font-awesome;
                content: "\f12a";
                font-size: 24px;
                line-height: 26px;
                color: $color-7;
            }
        }

        a {
            font-family: $font-awesome;
            color: $color-7;
            position: absolute;
            top: 12px;
            right: 19px;
            text-decoration: none;
            
            &:before {
                content: "\f00d";
                font-size: 14px;
                line-height: 24px;
            }
        }
    }

    &.check {
        background-color: $color-8;
        
        .icon {
            height: 64px;
            width: 64px;
            border: solid 7px;
            border-color: $color-9;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            float: left;
            margin-left: 48px;
            margin-top: 8px;
            margin-right: 28.9px;
            
            &:before {
                font-family: $font-awesome;
                content: "\f00c";
                font-size: 24px;
                line-height: 26px;
                color: $color-10;
            }
        }

        a {
            font-family: $font-awesome;
            color: $color-10;
            position: absolute;
            top: 12px;
            right: 19px;
            text-decoration: none;
            
            &:before {
                content: "\f00d";
                font-size: 14px;
                line-height: 24px;
            }
        }
    }

    &.close {
        background-color: $color-11;
        
        .icon {
            height: 64px;
            width: 64px;
            border: solid 7px;
            border-color: $color-12;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            float: left;
            margin-left: 48px;
            margin-top: 8px;
            margin-right: 28.9px;
        
            &:before {
                font-family: $font-awesome;
                content: "\f00d";
                font-size: 24px;
                line-height: 26px;
                color: $color-13;
            }
        }

        a {
            font-family: $font-awesome;
            color: $color-13;
            position: absolute;
            top: 12px;
            right: 19px;
            text-decoration: none;
            
            &:before {
                content: "\f00d";
                font-size: 14px;
                line-height: 24px;
            }
        }
    }

    &.bolt {
        background-color: $color-14;
        
        .icon {
            height: 64px;
            width: 64px;
            border: solid 7px;
            border-color: $color-15;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            float: left;
            margin-left: 48px;
            margin-top: 8px;
            margin-right: 28.9px;
            
            &:before {
                font-family: $font-awesome;
                content: "\f0e7";
                font-size: 24px;
                line-height: 26px;
                color: $color-16;
            }
        }

        a {
            font-family: $font-awesome;
            color: $color-16;
            position: absolute;
            top: 12px;
            right: 19px;
            text-decoration: none;
            
            &:before {
                content: "\f00d";
                font-size: 14px;
                line-height: 24px;
            }
        }
    }

    &.info {
        background-color: $color-17;
        
        .icon {
            height: 64px;
            width: 64px;
            border: solid 7px;
            border-color: $color-18;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            float: left;
            margin-left: 48px;
            margin-top: 8px;
            margin-right: 28.9px;
            
            &:before {
                font-family: $font-awesome;
                content: "\f129";
                font-size: 24px;
                line-height: 26px;
                color: $color-19;
            }
        }

        a {
            font-family: $font-awesome;
            color: $color-19;
            position: absolute;
            top: 12px;
            right: 19px;
            text-decoration: none;
            
            &:before {
                content: "\f00d";
                font-size: 14px;
                line-height: 24px;
            }
        }
    }

    &:nth-of-type(odd) {
        clear: both;
    }

    &:nth-of-type(even) {
        margin-right: 0;
    }

    &:last-of-type {
        width: 1170px;
        margin-right: 0;
        margin-bottom: 0;
    }

    .message {
        padding-right: 61px;

        h1 {
            color: $color-2;
            font-size: 14px;
            line-height: 26px;
            text-transform: uppercase;
            font-weight: 900;
            letter-spacing: 1.4px;
            margin-bottom: 6px;
        }

        p {
            color: $color-2;
            font-size: 14px;
            line-height: 24px;
        }
    }

    &.long {
        .message {
            padding-right: 54px;
        }
    }
}

