$color-1: #E2E6E7;
$color-2: #2C3E50;
$color-3: #A1B1BC;
$color-4: #FFC12D;
$color-5: #F9B718;
$color-6: #CFD2D3;
$color-7: #A47503;
$color-8: #97E411;
$color-9: #7BC200;
$color-10: #558502;
$color-11: #FD7761;
$color-12: #F55C43;
$color-13: #D52E13;
$color-14: #6FD9FC;
$color-15: #47B4F6;
$color-16: #0787D4;
$color-17: #A39CDC;
$color-18: #8781BD;
$color-19: #5B568E;
